body{
    background-color:rgb(28, 28, 44);
    color: white;
    margin: 0%;
    padding: 0%;
}
h1{
    text-align: center;
    border: lightblue 5px double;
    margin: 0%;
    position: fixed;
    top: 0px;
    right: 50%;
    z-index: 10;
    
}

p{
    text-align: left;
    font-size: larger;
    font-family: inherit;
    margin-top: 80px;
    padding: 10px;
}

footer{
    margin-bottom: 0%;
    margin-top: 10%;
    
}

#mainimg{
border: lightblue 4px solid;
width: 20cm;
height: 15cm;
position: relative;
margin-left: 10cm;
margin-top : 1cm;}

.h3{
    border: lightblue 5px double;
    font-size: 20px;
    display: inline;
    font-family: inherit;
}
ol li{
    font-size: 18px;
    padding: 4px;
    font-family: inherit;
    margin-top: 5px;
}


ul li{
    font-size: 18px;
    padding: 4px;
    font-family: inherit;
    margin-top: 5px;
}